!!! 5
%head
  %title Title here
  %meta{ :charset => 'utf-8' }

  %link{ :rel => 'stylesheet', :href => 'styles/bootstrap.min.css', :type => 'text/css' }
  %link{ :rel => 'stylesheet', :href => 'styles/bootstrap-responsive.min.css', :type => 'text/css' }

%body
  .container
    .row
      .span12
        %h1 Hi There

    .row
      .span12
        - if @is_logged_in
          %a{ :href => '/logout' } Logout
        - else
          %a{ :href => '/login' } Login
    = yield
