!!! 5
%head
  %title The Other Philadelphia
  %meta{ :charset => 'utf-8' }

  %link{ :rel => 'stylesheet', :href => 'styles/bootstrap.min.css', :type => 'text/css' }
  %link{ :rel => 'stylesheet', :href => 'styles/bootstrap-responsive.min.css', :type => 'text/css' }
  %link{ :rel => 'stylesheet', :href => 'styles/general.css', :type => 'text/css' }

  %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Crete+Round:400,400italic', 'type' => 'text/css' }

  %script{ :type => 'text/javascript' }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29478272-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

%body
  .container
    #banner.row
      .span6
        .prefix The Other
        .maintitle Philadelphia
      .span6
        #about The Other Philadelphia takes the stats of inner-city life, mashes them up with your Facebook friends, and shows what life might be like if you lived somewhere else.
        - if @is_logged_in
          %a#logout-button.btn.btn-mini.btn-primary{ :href => "/logout" } Logout
    .row
      .span12
        - if !@is_logged_in
          #login
            %a.btn.btn-large.btn-primary{ :style => "font-size: 400%;", :href => "/login" } Login to Facebook

        = yield
