%ul.thumbnails#friends
  - @friends.each do |friend|
    %li.thumbnail.friend.span2
      .picture.empty
        - friend[:statistics].each do |tag|
          %span{ :class => "label label-#{@mappings[tag]}" }= tag.sub("_", " ").capitalize
