%ul.thumbnails#friends
  - @friends.each do |friend|
    %li.thumbnail.friend.span2
      .picture{ :style => "background-color: #666" }
        - friend.tags.each do |tag|
          %span{ :class => "label label-#{@mappings[tag]}" }= tag.capitalize
