body {
  background-color: #333;
  color: #FFF;
  margin-top: 1.6em;
  font-family: Arial, sans-serif;
  font-size: 80%;
}
h1 {
  color: #FFF;
}

.row {
  margin-bottom: 2em;
}

#banner {
  border-bottom: 1px solid #999;
  padding-bottom: 2em;
}

.prefix {
  font-family: 'Crete Round', serif;
  font-size: 24px;
  font-style: italic;
 }

 .maintitle {
   font-family: 'Crete Round', serif;
   margin-top: 12px;
   color: #FF0;
   font-size: 300%;
 }

#rates {
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}

#rates h3 {
  color: #FFF;
  font-family: 'Crete Round';
  font-size: 500%;
  margin-bottom: 0.4em;
  font-weight: normal;
}

#rates h3:after {
  color: #666;
  content: '%'
}

#action {
  border-top: 1px solid #999;
}

#action h2 {
  font-size: 180%;
  font-weight: normal;
  font-family: 'Crete Round';
  font-style: italic;
  color: #fff;
}

#organizations h3 {
  text-align: center;
  font-size: 70%;
}

#organizations a {
  color: #FF0;
}

#organizations a:hover{
  background-color:#FF0;
  color:#000;
  text-decoration:none;
}

#organizations-logos a {
  display: block;
}

#footer {
  text-align: center;
  border-top: 1px solid #999;
  padding-top: 2em;
}

.friend.thumbnail {
  position: relative;
  display: inline-block;
  padding: 0; 
  border: none;
}
  .friend .picture {
    height: 120px;
    background-repeat: no-repeat;
    padding: 0.4em;
  }
  .friend h3 {
    font-family: 'Crete Round';
    text-align: center;
    white-space: nowrap;
    color: #FF0;
    font-weight: normal;
  }

#login {
  margin: 20px;
  text-align: center;
}

a.source-link {
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dotted #999;
  color: #999;
}
